name::{common}[]{{
Persona=Personas
Pais=Paises
Usuario=segUsuarios
Sexo=Sexos
}}

name::{common}{}{{
MakeRequest=MakeRequests
MakeStatus=MakeStatus
Contexto=Contextos
WorkSpace=WorkSpaces
Modelo=Modelos
Ciudad=Ciudades
Estado=Estados
Pais=Paises
Grupo=Grupos
Membresia=Membresias
Permiso=Permisos
TipoDePermiso=TiposDePermiso
Gui=Guis
}}